body {
	margin: 0;
	overflow: hidden;
	position:relative;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:16pt;
	cursor: move;
    cursor: all-scroll;
    cursor: -webkit-grab;
}
#map{
	position:relative;
	width:1920px;
}
#legend{
	width:100px;
	position:fixed;
	top:0;
	right:0;
	z-index:1000000;
	font-size:12pt;
	color:#f1f3f5;
	word-wrap:break-word;
	background-color:rgba(0,0,0,0.5);
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 0 0 8px 8px;
}
#legend li{
	list-style-type:none;
}
#legend ul{
	padding:0;
	display:none;
}
#elijah_church .marker_btn{
	left:1260px;
	top:20px;
}
#znamenskaya_tower .marker_btn{
	left:740px;
	top:160px;
}
#kfc .marker_btn{
	left:770px;
	top:210px;
}
#seven_fridays .marker_btn{
	left:700px;
	top:230px;
}
#damansky_park .marker_btn{
	left:1530px;
	top:840px;
}
#planetarium .marker_btn{
	left:0px;
	top:580px;
}
#museum_reserve .marker_btn{
	left:900px;
	top:580px;
}
#strelka .marker_btn{
	left:1780px;
	top:880px;
}
#rocky_pizza .marker_btn{
	left:190px;
	top:110px;
}
#ioan .marker_btn{
	left:1080px;
	top:420px;
}
#poplavok .marker_btn{
	left:1520px;
	top:590px;
}
#dudki .marker_btn{
	left:610px;
	top:120px;
}
#cosmik .marker_btn{
	left:80px;
	top:60px;
}
#tuz .marker_btn{
	left:280px;
	top:260px;
}
#einstein_museum .marker_btn{
	left:610px;
	top:420px;
}
#paintball .marker_btn{
	left:910px;
	top:840px;
}
#znamenskaya_tower .marker_btn:hover, #kfc .marker_btn:hover, #elijah_church .marker_btn:hover, #seven_fridays .marker_btn:hover, #damansky_park .marker_btn:hover{

	z-index:1000;
}
.marker_btn{
	position:absolute;
	cursor: pointer;
	width:50px;
	z-index:1;
}
.legend_btn{
	position:static;
	cursor: pointer;
	width:50px;
}

.info{
	left: -400px; /* прячем информацию */
	top:0;
	height: 100%;
	position: fixed;
	width: 400px;
	margin: 0;
	padding: 0;
	z-index:50000;
	background-color:#212529;
	color:#f8f9fa;
}

.info p{
	padding-left: 20px;
    padding-right: 20px;
	padding-top: 3px;
}
.sight_name{
	font-size:18pt;
}

  
.info a {
	text-decoration: none;
	color:#fa5252;
}
.close_btn {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	position:absolute;
}
.sight_name{
	font-size:20px;
	font-weight:bold;
}
.close_btn img{
	width:24px;
}
.sight_foto{
	width:100%;
}
.sight_map{
	display:none;
}